bcrypt==5.0.0
certifi==2026.2.25
charset-normalizer==3.4.4
defusedxml==0.7.1
docopt==0.6.2
fonttools==4.61.1
fpdf2==2.8.6
idna==3.11
num2words==0.5.14
pillow==12.1.1
PySide6==6.10.2
PySide6_Addons==6.10.2
PySide6_Essentials==6.10.2
requests==2.32.5
shiboken6==6.10.2
urllib3==2.6.3
